:root {
    /* Font */
    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    /* Colors */
    --text: #434455;
    --dark: #2E2F42;
    --white-background: #FFFFFF;
    --light: #F4F4FD;
    --accent: #E7E9FC;
    --primary-brand: #4D5AE5;
    --pressed-state: #404bbf;
    --icon-cl: #8e8f99;
}

body {
    font-family: var(--primary-font);
    font-style: normal;
    font-weight: 400;
    color: var(--text);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* Reset */
h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

ul,ol {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    border-bottom: 1px solid var(--accent);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-nav {
    display: flex;
    align-items: center;
    
}

.section {
    padding: 60px 0;
}

.page {
    background-color: var(--white-background)
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: currentColor;
    display: block;
}

.btn {
    font-family: Roboto, sans-serif;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primary-brand);
    background-color: var(--light);
    letter-spacing: 0.04em;

    border: 1px solid var(--accent);
    border-radius: 4px;
    padding: 12px 24px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-list {
    display: flex;
    align-items: center;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.btn:hover,
.btn:focus {
    color: var(--white-background);
    background-color: var(--pressed-state);
    border: 1px solid transparent;
    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
}
.hero-btn {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--white-background);
    background-color: var(--primary-brand);
    letter-spacing: 0.04em;

    min-width: 169px;
    min-height: 56px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 15px 31px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--pressed-state);
}

.logo {
    color: var(--primary-brand);
    font-family: var(--secondary-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    align-items: center;
    margin-right: 76px;
}

.logo-part {
    color: var(--dark);
}

.page-nav {
    display: flex;
    align-items: center;
    gap: 40px;
}

.page-nav-item {
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .page-nav-item:hover,
.page-nav-item:focus {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */

.header-link {
    position: relative;
    color: var(--pressed-state);
    /* transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.header-link::after {
    content: "";
    width: 100%;
    height: 4px;
    display: block;
    background-color: var(--pressed-state);
    color: var(--pressed-state);
    border-radius: 2px;
    position: absolute;
    bottom: -1px;
    left: 0;
}

.page-nav .link{
    font-weight: 500;
    

    /* transition: 250ms cubic-bezier(0.4, 0, 0.2, 1); */
}

.contacts .link:hover,
.contacts .link:focus,
.page-nav .link:hover,
.page-nav .link:focus {
    color: var(--pressed-state);
}

.contacts {
    font-style: normal;

    display: flex;
    align-items: center;
    gap: 40px;
}

.section-hero {
    background-color: var(--dark);
    padding: 188px 0;

    align-items: center;
    display: flex;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    margin: 0 auto;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: var(--white-background);
    text-align: center;
    max-width: 496px;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}

.hidden-section {
letter-spacing: 0.02em;
}

.benefits-section {
    padding: 120px 0;
}

.benefits-item {
    width: calc((100% - 72px) / 4);;
}


.benefits-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.doing-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
}

.subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);

    margin-bottom: 8px;
}

.doing-section {
    padding-bottom: 120px;
}

.doing-title {
    font-weight: 700;
    font-size: 36px;
    color: var(--dark);
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;

    margin-bottom: 72px;
}

.doing-item {
    width: calc((100% - 48px) / 3);
}

.our-team {
    background-color: var(--light);
    min-height: 732px;
    padding: 120px 0;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: center;
    
}

.our-team-title {
    font-size: 36px;
    line-height: 1.11;
    color: var(--dark);
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;

    display: block;
    align-items: center;
    margin-bottom: 72px;
}

.card-bg {
    background-color: var(--white-background);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.card-content {
    border: 1px solid var(--accent);
    border-radius: 0px 0px 4px 4px;
    border-top: none;
    text-align: center;
    padding: 32px 0;
}

.text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: var(--text);
}

.footer {
    background-color: var(--dark);
    color: var(--light);
    padding: 100px 0;
}

.footer-subtitle {
    font-weight: 500;
    margin-bottom: 16px;
    color: var(--white-background);
}

.footer-container {
    flex-direction: row;
    display: flex;
    align-items: baseline;
    justify-content: flex-start;
    gap: 120px;
    margin-right: 120px;
}

.footer-network {
    display: block;
}

.logo-part-footer {
    color: var(--light);
    margin-bottom: 16px;
}

.footer-logo {
    margin-bottom: 16px;
    display: inline-block;
}

.footer-part {
    margin-right: 120px;
}

.footer-text {
    max-width: 264px
}

.section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-card {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}



.card-content-portfolio {
  justify-content: flex-start;
  padding: 32px 16px;
  border: 1px solid var(--accent);
  border-top: none;
  background-color: var(--white-background);

  z-index: 2;
  position: relative;
}

.card-link {
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover .overlay-text {
transform: translateY(0%);
}

.card-wrapper {
    position: relative;
    overflow: hidden;
}

.overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transform: translateY(0%);
}   



.card-item {
    width: calc((100% - 48px) / 3);
    position: relative;
    overflow: hidden;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* .card-item:hover,
.card-item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
} */

.card-item:hover .overlay {
transform: translateY(0);
}

.icon {
    margin: 24px 100px;
}

.icon-div {
    border-radius: 4px;
    background-color: var(--light);
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.network-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    margin-top: 8px;
}

.footer-network-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    margin-top: 8px;
}

.network-item {
    width: 40px;
    height: 40px;
}

.network-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-brand);
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.network-link:hover,
.network-link:focus {
    background-color: var(--pressed-state);
}

.footer-network-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--primary-brand);
    background-color: var(--primary-brand);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-network-link:hover,
.footer-network-link:focus {
background-color: #31d0aa;
}

.icon-network {
    display: block;
    fill: var(--light);
}

.customers-section{
padding: 120px 0;
}

.customers-title {
font-size: 36px;
line-height: 1.11;
color: var(--dark);
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;

display: block;
align-items: center;
margin-bottom: 72px;
}

.customers-list{
    display: flex;
    flex-direction: row;
    justify-content: center;    
    gap: 24px;
}

.customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
}

.customers-link {
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-cl);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--icon-cl);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover,
.customers-link:focus {
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}

.icon-customers {
fill: currentColor;
}
/* Modal */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(46, 47, 66, 0.40);

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    opacity: 1;
    pointer-events: initial;
    visibility: visible;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.backdrop.is-hidden .modal {
    opacity: 0;
    transform: translateX(-50%) translateY(-50%);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);

    width: 408px;
    min-height: 584px;

    border-radius: 4px;
    background: #fcfcfc;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
    fill: #2E2F42;
    stroke: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 50%;
    background: var(--accent);

    width: 24px;
    height: 24px;

    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none; 
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: var(--white-background);
}